body {
    background-color: #000;
    color: #fff;
    font-family: 'Futura', sans-serif;
}

h1, h2, h3 {
    color: #ff4081;
}

a {
    color: #1e88e5;
    text-decoration: none;
}

a:hover {
    color: #42a5f5;
}

.button {
    background-color: #1e88e5;
    color: #000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #42a5f5;
    color: white;
}
